{% extends 'website/base.html' %}
{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
<center>
<h1 class="display-3 fw-bold">Add Review</h1>
<h3 class="fw-normal text-muted mb-3">Helping to find the best coffee in Perth</h3></br>
  </center>
  </br></br>
  <form action = "" method = POST>
	{% csrf_token %}
	  {%include 'website/rating_form.html'%}
	<input type = "submit" value = "Submit" class="btn btn-outline-primary">
	<a href="{%url 'home'%}" class="btn btn-outline-primary">Back</a>
  </form>

</div>
{% endblock %}